@page
@using Microsoft.AspNetCore.Mvc.Localization
@using YiAim.Cms.Blogs;
@using YiAim.Cms.Localization
@using Volo.Abp.Users
@using YiAim.Cms.Extensions
@model YiAim.Cms.Web.Pages.IndexModel
@inject IHtmlLocalizer<CmsResource> L
@inject ICurrentUser CurrentUser

@section header{
    <link rel="stylesheet" href="/css/swiper.min.css" />
    <style>
        .swiper-wrapper img {
            width: 100%;
            height: 100%;
            background-size: cover;
        }

        .triangle {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }

        .triangle_1 {
            width: 100%;
            background: url(/images/triangle_1.png) no-repeat center center / 100% 100%;
        }

        .triangle_2 {
            width: 60%;
            background: url(/images/triangle_2.png) no-repeat center center / 100% 100%;
        }

        .triangle_3 {
            width: 30%;
            background: url(/images/triangle_3.png) no-repeat center center / 100% 100%;
        }

    </style>
}
<div class="container home">
    <div class="row">
        <div class="col-12">
            <div class=" flex-c home-notice">
                <i class="icon-notice"></i>
                <ul>
                    <li class="text-body"><a href="/">今日更新2篇文章</a></li>
                    <li><a href="/">转载本站任何文章和页面,请注明来源</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="index-header">
        <div class="header-left" style="display:inline-flex;">
            <div id="spwerThumb" thumbsSlider class="spwer-thumb">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://imgs.ali213.net/news/IndexTJ/2022/11/17/20221117115705957.jpeg" />
                    </div>

                    <div class="swiper-slide">
                        <img src="https://imgs.ali213.net/news/IndexTJ/2022/11/18/2022111843437371.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://imgs.ali213.net/news/IndexTJ/2022/11/18/2022111845807197.jpeg" />
                    </div>
                </div>

            </div>
            <div id="mainSwiper" class="swiper-container" style="flex:1;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://imgs.ali213.net/news/IndexTJ/2022/11/17/20221117115705957.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://imgs.ali213.net/news/IndexTJ/2022/11/18/2022111843437371.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://imgs.ali213.net/news/IndexTJ/2022/11/18/2022111845807197.jpeg" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right-t">
                <div class="header-right-t-l">
                    <a href="https://www.ali213.net/news/html/2021-12/643023.html" target="_blank">
                        <img src="@Model.LastAnthology?.Thumb" alt="@Model.LastAnthology?.Title"><em></em>
                    </a>
                </div>
                <div class="header-right-date">
                    <div>
                        <span>@(DateTime.Now.Year)年</span>
                        <font>@(DateTime.Now.ToString("MM月dd日"))</font>
                    </div>
                    @{
                        string[] Day = new string[] { "周日", "周一", "周二", "周三", "周四", "周五", "周六" };
                    }
                    <p>
                        @(Day[Convert.ToInt32(DateTime.Now.DayOfWeek.ToString("d"))])</ p >
                </div>
                <div class="header-right-title">
                    <a><em>”</em><span>"@Model.LastAnthology?.Title</span></a>
                    <a class="go">阅读详情</a>
                </div>
            </div>
            <div class="header-right-f">
                <div>
                    <ul>
                        <li>
                            <p class="site-state-item-name">原创</p>
                            <p class="site-state-item-count">667</p>
                        </li>
                        <li>
                            <p class="site-state-item-name">分类</p>
                            <p class="site-state-item-count">10</p>
                        </li>
                        <li>
                            <p class="site-state-item-name"> 标签</p>
                            <p class="site-state-item-count">10</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-8 col-lg-8 col-xl-9">
            <div class="swiper-container hotSwiper">
                <div class="swiper-wrapper">
                    @foreach (var itme in Model.HotRandomBlogs)
                        @for (int i = 0; i < Model.HotRandomBlogs.Count() / 2; i++)
                        {
                            <div class="swiper-slide row bg-white">
                                @foreach (var item in Model.HotRandomBlogs.Skip(i * 2).Take(2))
                                {
                                    <div class="col-6">
                                        <article itemscope itemtype="http://schema.org/Article" lang="zh-CN" class="">
                                            <link itemprop="mainEntityOfPage" href="">
                                            <a href="" itemprop="url">
                                                <h2 itemprop="name headline" class="news-title es line-3">@item.Title</h2>
                                            </a>
                                        </article>
                                    </div>
                                }
                            </div>
                        }
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <div class="seach-container">
                <div class="seach-box">
                    <input placeholder="站内搜索" />
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                        搜索
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 swiper-container ztSwiper">
            <ul class="swiper-wrapper">
                @for (var i = 0; i < 10; i++)
                {
                    <li class="swiper-slide">
                        <article itemscope itemtype="http://schema.org/Article" lang="zh-CN" class="">
                            <link itemprop="mainEntityOfPage" href="">
                            <a href="" itemprop="url">
                                <img itemprop="contentUrl" src="/images/thumb-2.jpg"
                                     alt="" onerror="this.src='/images/thumb-2.jpg'" />
                                <div class="bottom-info">
                                    <h2 itemprop="name headline" class="news-title es line-1">打发手动阀手动阀撒打发吗送到发撒打发吗是发撒打发</h2>
                                    <p class="total">10篇文章</p>
                                </div>
                            </a>
                        </article>
                    </li>
                }
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="row mt-3 mb-2">
        <div class="col-12 col-md-8 col-lg-8 col-xl-9 ">
            <div class="news-ul">
                @foreach (var item in Model.Blogs.Items)
                {
                    DateTime dt = UtilTools.TryDateTime(item.PublishDate);

                    <article class="display-flex news-item" itemscope itemtype="http://schema.org/Article" lang="zh-CN">
                        <link itemprop="mainEntityOfPage" href="//www.aimzhi.cn/news/@item">
                        @*@if (!string.IsNullOrWhiteSpace(item))
                    {
                    <figure class="news-figure">
                    <img itemprop="contentUrl" src='@(item.ThumImg)' onerror="this.src='/images/thumb-1.jpg'" alt="@item.Title" />
                    </figure>
                    }*@
                        <div class="flex1">
                            <h2 itemprop="name headline" class="news-title">
                                @* @if (!string.IsNullOrWhiteSpace(item.Column.Title))
                            {
                            <label class="c@(item.Column.Sort) label">@item.Column.Title<i></i></label>
                            }*@
                                <a href="/news/@item.Id" itemprop="url">@item.Title</a>
                            </h2>
                            <a itemprop="articleBody" class="news-desc es line-3" href="/news/@item.Id" itemprop="url">@item.Title</a>
                            <ul class="display-flex news-meta ">
                                <li>
                                    <span class="flex-c">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                        </svg>
                                        <span itemprop="author">@(string.IsNullOrWhiteSpace(item.Author) ? "t-jian" : item.Author)</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="flex-c">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-calendar" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                        </svg>
                                        <time title="发表时间：@(dt.ToString("yy-MM-dd"))"itemprop="dateCreated datePublished" datetime="@dt.ToString("yy-MM-dd")">发表于 @dt.ToString("yy-MM-dd")</time>
                                    </span>
                                </li>
                            </ul>
                            <button class="read-btn">
                                <a class="text-light" href="/news/@item.Id" itemprop="url">立即阅读</a>
                            </button>
                        </div>
                    </article>
                }
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-3 ">
            <aside class="right-aside sticky-top" style="top:68px">
                @if (Model.Blog48List != null && Model.Blog48List.Count > 0)
                {
                    <div class="isgood_news panel-item">
                        <div class="h_title mb-2">48小时阅读排序</div>
                        <div class="guess-like-box">
                            @foreach (var item in Model.Blog48List)
                            {
                                <article class="display-flex mb-10" itemscope itemtype="http://schema.org/Article" lang="zh-CN">
                                    <link itemprop="mainEntityOfPage" href="//www.aimzhi.cn/news/@item.Id">
                                    <div class="flex1">
                                        <div itemprop="name headline" class="news-title es line-2">
                                            <a href="/news/@item.Id" itemprop="url">@item.Title</a>
                                        </div>
                                    </div>
                                </article>
                            }
                        </div>
                    </div>
                }
                @if (Model.RandomBlogs != null)
                {
                    <div class="isgood_news panel-item mt-2">
                        <h2 class="h_title">推荐阅读</h2>
                        <div class="guess-like-box">
                            @foreach (var item in Model.RandomBlogs)
                            {
                                <article class="display-flex mb-10" itemscope itemtype="http://schema.org/Article" lang="zh-CN">
                                    <link itemprop="mainEntityOfPage" href="//www.aimzhi.cn/news/@item.Id">
                                    <div class="flex1">
                                        <div itemprop="name headline" class="news-title es line-2">
                                            <a href="/news/@item.Id" itemprop="url">@item.Title</a>
                                        </div>
                                    </div>
                                </article>
                            }
                        </div>
                    </div>
                }
            </aside>
        </div>
    </div>
</div>
@section footer{
    <script src="/js/swiper.min.js"></script>
    <script>
        new Swiper('#mainSwiper', {
            direction: 'horizontal',
            loop: true,
            autoplay: true,
            thumbs: {
                swiper: {
                    el: '#spwerThumb',
                    direction: 'vertical',
                    loop: true,
                    slidesPerView: "auto",
                    freeMode: true,
                    watchSlidesProgress: true,
                },
            },
            pagination: {
                el: '.swiper-pagination',
            },
            on: {
                //transitionEnd: function () {
                //    var windowWidth = $(".swiper-container").height();
                //    var triangle = $(".swiper-slide-active").find(".triangle");
                //    animateTriangle(triangle, parseInt(windowWidth / 3) + "px", 1500);
                //},
                //transitionStart: function () {
                //    var prev = $(".swiper-slide-prev").find(".triangle");
                //    var active = $(".swiper-slide-active").find(".triangle");
                //    var next = $(".swiper-slide-next").find(".triangle");
                //    animateTriangle(prev, '0', 1);
                //    animateTriangle(active, '0', 1);
                //    animateTriangle(next, '0', 1);
                //}
            },
        });
        new Swiper(".hotSwiper", {
            direction: "vertical",
            autoplay: {
                delay: 5000,
            },
            loop: true,
        });

        new Swiper(".ztSwiper", {
            slidesPerView: "auto",
            loop: true,
            centeredSlides: true,
            autoplay: {
                delay: 3000,
            },
            //pagination: {
            //    el: '.swiper-pagination',
            //},
        });

        function animateTriangle(item, offsetHeight, duration) {
            item.stop().animate({
                'height': offsetHeight
            }, duration)
        }
        $(function () {
            var $this = $(".home-notice");
            setInterval(function () {
                scrollNews($this);
            }, 3000);
            function scrollNews(obj) {
                var $self = obj.find("ul");
                var lineHeight = $self.find("li:first").height();
                $self.animate({
                    "marginTop": -lineHeight + "px"
                }, 500, function () {
                    $self.css({ marginTop: 0 }).find("li:first").appendTo($self);
                })
            }
        });
    </script>
}
